# DACademy Session 1: Basic GitHub + Intro to Python

Basic Syntax and Data Types

## Comments and Print Statements:

In [ ]:
# Welcome to DAC!
# Single-line comments use the hash symbol (#)
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes.
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [ ]:
# Now try printing your name!
print("Kaavya")

Kaavya

## Basic Arithmetic Operations and Data Types

In [ ]:
#Arithmetic Operators: + - * / % ==

#Addition +
print(8+3)

#Subtraction -
print(8-3)

#Multiplication *
print(8*3)

# Division /
print(8/3)

# Modulo %
print(8%3)

# To the Power To
print(2**2)

In [ ]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("meow meow meow meow")
print('meow meow meow meow')

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2**32) # This computes 2 to the power of 32

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

meow meow meow meow
meow meow meow meow
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [ ]:
a = 5
b = 10 % 3  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
c = bool(a == b)  # bool() converts the result of the comparison to True or False
print(c)  # This will print False since 5 is not equal to 1

False

In [ ]:
# Equals ==
print(5==5)
print(5==4)

# Inqual !=
print(5!= 6)

# More than >
print(5>4)

# More than and equal to >=
print(6 >= 4)

# Less than <
print(6 < 4)

# Less than and equal to <=
print(6 <= 4)

True
False
True
True
True
False
False

In [ ]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True # A Boolean value can be either True or False.
print(type(a))  # This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type("I just wanna be part of your SYMPHONYYYY"))  # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(4))  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [ ]:
# Convert a float to an integer
print(int(6.555555))  # Output: 6

# Convert an integer to a float
print(float(3))  # Output: 3.0

# Convert an integer to a string and print its type
print(type(str(6)))  # Output: <class 'str'>

# Convert a non-zero integer to a boolean
print(bool(5))  # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value = 3.1423  # Use descriptive names for clarity
print(decimal_value)

number = 5  # Keep the variable name clear and relevant
print(number)

<class 'str'>
6
3.0
True
3.1423
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [ ]:
# Creating strings
name = "Jun"
print(name)

# Combining strings
last_name = "Yo"
print("Full Name: " + name + " " + last_name)  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

# Alternative Method for String Formatting
print("Full Name: {0} {1}".format(name, last_name))  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.

Jun
Full Name: Jun Yo
Full Name: Jun Yo

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [ ]:
list1 = [] # Empty list
print(list1)

list2 = ["S", "L", "A", "Y"]
print(list2)

mixedlist = [True, "Slay", 173, 3.14] # List with different data types
print(mixedlist)

[]
['S', 'L', 'A', 'Y']
[True, 'Slay', 173, 3.14]

In [ ]:
# Adding elements to a list using the above variables

list1.append(1)  # Adding an integer to the list
list1.append("AHH")  # Adding a string to the list
print(list1)  # Output: [1, "AHH"]

mixedlist.append("AHH")  # Adding a string to the mixed list
print(mixedlist)  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'AHH']
[True, 'Slay', 173, 3.14, 'AHH']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [ ]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)

list1.insert(0, 50)  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
print(list1)  # Output will show 50 at the start of the list

[50, 1, 'AHH']

In [ ]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0]  # Deletes the element at index 0 (1st element in the list)
print(list1)  # Output: List with the 1st element removed

[1, 'AHH']

In [ ]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
list1.remove("AHH")  # Removes the first occurrence of the value 50 from the list
print(list1)  # Output: List without the first 50

[1]

In [ ]:
# List Indexing
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index(3)  # Finds the index position of the element '3' in the list
print(index_list4)  # Output: 0 (since '3' is at the 0th index)

0

In [ ]:
# Finding minimum and maximum values in a list
min_list4 = min(list4)  # Use the min() function to find the smallest element in list4
max_list4 = max(list4)  # Use the max() function to find the largest element in list4
print(min_list4)
print(max_list4)

# With labels
print("Minimum value:", min_list4)  # Output the minimum value
print("Maximum value:", max_list4)  # Output the maximum value

1
5
Minimum value: 1
Maximum value: 5

In [ ]:
listNum = [4, 2, 1, 3, 6, 5, 9]

sorted_listNumList = sorted(listNum) # Use the sorted() function to sort the list
print(sorted_listNumList) # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [ ]:
listNum2 = [1, 2, 3, 4, 5, 6, 9]
listNum2.reverse() # Reverse listNum2
print(listNum2) # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [ ]:
listNum2 = [1, 2, 3, 4, 5, 6, 9]
listNum2.clear() # Clear all elements from the list
print(listNum2) # Print the cleared list

[]

In [ ]:
list5 = ['K', 'A', 'A', 'V', 'Y', 'A']
list6 = ['M', 123]
listAdded = list5 + list6 # Add the two lists together
print(listAdded) # Output the added list

['K', 'A', 'A', 'V', 'Y', 'A', 'M', 123]

In [ ]:
listNames = ["Kaavya", "M"]
listMultiplied = listNames * 2 # Multiply the list by 2
print(listMultiplied) # Output the multiplied list

['Kaavya', 'M', 'Kaavya', 'M']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [ ]:
dance = ("If u dance", "I'll dance")
type(dance) # Check the type of the 'parents' variable

tuple

In [ ]:
tuplelist = list(dance)
print(tuplelist) # Output the list
type(tuplelist) # Check the type of 'tuplelist'

['If u dance', "I'll dance"]

list

In [ ]:
tuplelist.append("But if you don't, I'll dance anyway") # Add new line to the list 'tuplelist'
print(tuplelist) # Output the updated list

['If u dance', "I'll dance", "But if you don't, I'll dance anyway"]

In [ ]:
new_tuple = tuple(tuplelist) # Convert the list 'tuplelist' back to a tuple
print(new_tuple) # Check the value of the new tuple

('If u dance', "I'll dance", "But if you don't, I'll dance anyway")

In [ ]:
length_of_tuplelist = len(tuplelist) # Get the length of the list 'tuplelist'
print(length_of_tuplelist) # Output of the length

3

### Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [ ]:
x = {"pandas", "lions", "penguins", "flamingos", "pandas"}
print(x) # Output of the set

{'flamingos', 'penguins', 'lions', 'pandas'}

In [ ]:
x = {"pandas", "lions", "penguins", "flamingos"}
x.add("rhinos") # Add an element to the set
print(x) # Output of the updated set

{'penguins', 'flamingos', 'lions', 'rhinos', 'pandas'}

In [ ]:
x = {"pandas", "lions", "penguins", "flamingos", "rhinos"}
x.remove("penguins") # Remove an element from the set
print(x) # Output of the updated set

{'flamingos', 'pandas', 'lions', 'rhinos'}

In [ ]:
z = {(1, 2, 3), "Hello", 2, 4.3}
print(z) # Output of the set

{2, (1, 2, 3), 4.3, 'Hello'}

In [ ]:
r = [1, 2, 3, 4, 6, 5, 4]
print(r) # Output of the original list
r_set = set(r) # Convert the list to a set (to remove duplicates)
print(r_set) # Output of the converted set
type_of_r_set = type(r_set) # Check the data type of r_set
print(type_of_r_set) # Output of the converted set

[1, 2, 3, 4, 6, 5, 4]
{1, 2, 3, 4, 5, 6}
<class 'set'>

### Working with Dictionaries

In [ ]:
# Creating a dictionary to store information about a person
person = {
    "first_name": "Olivia",
    "last_name": "Rodrigo",
    "age": 21,
    "is_slaying": True
}
print(person)  # Outputs the entire dictionary

# Accessing a specific value using the key
print("Last Name:", person['last_name'])

# Using the get() method to retrieve a value safely
first_name = person.get("first_name")
print("First Name:", first_name)

{'first_name': 'Olivia', 'last_name': 'Rodrigo', 'age': 21, 'is_slaying': True}
Last Name: Rodrigo
First Name: Olivia

## Conditional Statements (next class)

If Statement with String Formatting

In [ ]:
a = 5
b = 3

# If b is less than a, print the formatted string
if b < a:
    print("{1} is lesser than {0}".format(a, b))

3 is lesser than 5

Else Statement

In [ ]:
a = 5
b = 3

# If a is less than b, execute the first print statement, otherwise execute the else block
if a < b:
    print("{1} is not lesser than {0}".format(a, b))
else:
    print("{1} is lesser than {0}".format(a, b))

3 is lesser than 5

Elif Statement

In [ ]:
a = 5
b = 3
c = 5

# Check multiple conditions using elif (else-if)
if a < c:
    print("{1} is lesser than {0}".format(a, c))
elif a > c:
    print("{1} is not lesser than {0}".format(a, c))
else:
    print("a and c are equal")

a and c are equal

2. The range() Function
Using range() in a Loop

In [ ]:
# A simple for loop that iterates over a range of numbers from 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

Creating a List Using range()

In [ ]:
# Creating a list of numbers from 0 to 9
listr = list(range(10))
print(listr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List with Step Argument

In [ ]:
# Creating a list starting from 5, ending at -5, with a step of -1
list_s = list(range(5, -5, -1))
print(list_s)

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

3. Loop Control Statements

In [ ]:
# Breaks the loop when n becomes greater than 10
n = 1
while n <= 100:
    print(n)
    n += 1
    if n > 10:
        break
print("The while loop ends here")

1
2
3
4
5
6
7
8
9
10
The while loop ends here

continue Statement

In [ ]:
# Skips the iteration when num equals 4
for num in range(6):
    if num == 4:
        continue
    print("Printed number: {0}".format(num))
print("Loop ends here")

Printed number: 0
Printed number: 1
Printed number: 2
Printed number: 3
Printed number: 5
Loop ends here

pass Statement

In [ ]:
# `pass` does nothing, but it allows the loop to continue normally
for num in range(6):
    if num == 4:
        pass
    print("Printed number is: {0}".format(num))
print("Out of loop")

Printed number is: 0
Printed number is: 1
Printed number is: 2
Printed number is: 3
Printed number is: 4
Printed number is: 5
Out of loop

4. Working with Dictionaries
Creating a Dictionary

In [ ]:
Richard = {
    "first_name": "Richard",
    "last_name": "Anderson",
    "age": 45,
    "tattoos": True
}
print(Richard)

{'first_name': 'Richard', 'last_name': 'Anderson', 'age': 45, 'tattoos': True}

Getting All Keys and Values

In [ ]:
# Retrieving all keys
keys = Richard.keys()
print(keys)  # Output: dict_keys(['first_name', 'last_name', 'age', 'tattoos'])

# Retrieving all values
values = Richard.values()
print(values)

dict_keys(['first_name', 'last_name', 'age', 'tattoos'])
dict_values(['Richard', 'Anderson', 45, True])

Iterating Through Dictionary Items

In [ ]:
# Iterating through keys and values
for key, value in Richard.items():
    print(f"key = {key}, value = {value}")

key = first_name, value = Richard
key = last_name, value = Anderson
key = age, value = 45
key = tattoos, value = True

Nested Dictionary Example

In [ ]:
sch_rec = {
    "name": "Ryan",
    "grade": 12,
    "score": {
        "english": 87,
        "math": 90,
        "science": 95,
        "mother tongue": 55
    }
}
print(sch_rec)

# Accessing nested keys
keys_nested = sch_rec['score'].keys()
print(keys_nested)

{'name': 'Ryan', 'grade': 12, 'score': {'english': 87, 'math': 90, 'science': 95, 'mother tongue': 55}}
dict_keys(['english', 'math', 'science', 'mother tongue'])

5. Functions
Defining and Calling a Function

In [ ]:
# Define a simple addition function
def addition(num1, num2):
    total = num1 + num2
    return total

# Call the function
result = addition(5, 7)
print(result)

12

Defining a Palindrome Function

In [ ]:
# Function to check if a word is a palindrome
def is_palindrome(word):
    word = word.lower().replace(" ", "")  # Convert to lowercase and remove spaces
    return word == word[::-1]  # Check if the word is the same when reversed

# Check if "taco cat" is a palindrome
print(is_palindrome("taco cat"))

True

Magic 8-Ball Function

In [ ]:
import random

# Function to simulate a magic 8-ball response
def magic_8_ball():
    responses = [
        "Yes", "No", "It is certain", "Without a doubt",
        "Reply hazy, try again", "Don't count on it",
        "My sources say no", "Outlook not so good", "Very doubtful",
        "You may rely on it"
    ]
    return random.choice(responses)

# Example usage
question = "Is it worthwhile to join DAC?"
answer = magic_8_ball()
print(f"Question: {question}")
print(f"Magic 8-Ball says: {answer}")

Question: Is it worthwhile to join DAC?
Magic 8-Ball says: Reply hazy, try again