# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [1]:
# Welcome to DAC!
# Single-line comments use the hash symbol
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("hello world")

hello world

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [39]:
# Now try printing your name!
print("niks")

niks

## Basic Arithmetic Operations and Data Types

In [104]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8 + 3)
print(3.14 + 2.18)
# Subtraction -
print(8 - 3)
# Multiplication *
print(8 * 3)
# Division /
print(8 / 3)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8 % 3)
# Exponential **
print(8 ** 3)

11
5.32
5
24
2.6666666666666665
2
512

In [15]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("this message is a string ^_^")
# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)
# Long Integers (Python automatically handles big integers)
print(2 ** 32)
# Floats represent decimal numbers
print(3.14)
# Complex Numbers use 'j' to represent the imaginary part
print(2 + 3j)

this message is a string ^_^
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [17]:
a = 5
b = 10 % 3
c = bool(a == b)
print(c)
  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

False

In [20]:
# Equals ==
print(5 == 5)
print(5 == 4)
# Inqual !=
print(5 != 6)
# More than >
print(5 > 4)
# More than and equal to >=
print (6 >= 4)
# Less than <
print(6 < 4)
# Less than and equal to <=
print(6 <= 4)

True
False
True
True
True
False
False

In [28]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable
a = True
print(type(a))
 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>
b = "skibiditoilet"
print(type(b))
# Checking the type of a string
  # This will return <class 'str'>, indicating it's a string.
c = 469021
print(type(c))
# Checking the type of an integer
  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [37]:
# Convert a float to an integer
  # Output: 6
print(int(6.555555555))
# Convert an integer to a float
  # Output: 3.0
print(float(3))
# Convert an integer to a string and print its type
  # Output: <class 'str'>
print(type(str(469021)))
# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
print(bool(5))
print(bool(0))
# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value = 3.142
print(decimal_value)

  # Keep the variable name clear and relevant
number = 5
print(number)

6
3.0
<class 'str'>
True
False
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [54]:
# Creating strings
name = "nikita"
print("first name: " + name)
# Combining strings
last_name = "gurunathan"
print("last name: " + last_name)
print ("full name: " + name + " " + last_name)
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.
print("full name: {0} {1}".format(name, last_name))

name1 = "albus"
name2 = "percival"
name3 = "wolfric"
name4 = "brian"
name5 = "dumbledore"
print("full name: {0} {1} {2} {3} {4}".format(name1, name2, name3, name4, name5))

first name: nikita
last name: gurunathan
full name: nikita gurunathan
full name: nikita gurunathan
full name: albus percival wolfric brian dumbledore

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [57]:
 # Empty list
list1 = []
print(list1)
mixedlist = [True, "Monday", 134, 3.14]
print(mixedlist)


 # List with different data types

[]
[True, 'Monday', 134, 3.14]

In [64]:
# Adding elements to a list using the above variables
list2 = []
list2.append(1)
list2.append("yay")
print(list2)
mixedlist.append("yay")
print(mixedlist)
  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yay']
[True, 'Monday', 134, 3.14, 'yay', 'yay', 'yay', 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [65]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list2.insert(0, 50)
print(list2)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 1, 'yay']

In [66]:
# Deleting elements from a list
del list2[0]
print(list2)
# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[1, 'yay']

In [67]:
# Alternative Method for Deleting elements from a list
list2.remove("yay")
print(list2)
# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

[1]

In [71]:
# List Indexing
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index(3)
print(index_list4)
index_list4 = list4.index(1)
print(index_list4)
index_list4 = list4.index(1)
print(index_list4)
  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0
1
1

In [74]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4
min_list4 = min(list4)
max_list4 = max(list4)
print(min_list4)
print(max_list4)


# With labels
  # Output the minimum value
print("minimum value: ", min_list4)
print("maximum value: ", max_list4)
  # Output the maximum value

1
5
minimum value:  1
maximum value:  5

In [75]:
listNum = [4,2,1,3,6,5,9]
sorted_listNumList = sorted(listNum)
print(sorted_listNumList)

 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [76]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.reverse()
print(listNum2) 
 # Reverse listNum2
 # Otput the reversed list

[9, 6, 5, 4, 3, 2, 1]

In [77]:
listNum2 = [1,2,3,4,5,6,9]
listNum2.clear()
print(listNum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [79]:
list5 = ["M","A","Y"]
list6 = [1,2,3]
listAdded = list5 + list6
print(listAdded)

 # Add the two lists together
 # Output the added list

['M', 'A', 'Y', 1, 2, 3]

In [80]:
listNames = ["niks","dhanush","vhinu"]
listMultiplied = listNames * 2
print(listMultiplied)
 # Multiply the list by 2
 # Output the multiplied list

['niks', 'dhanush', 'vhinu', 'niks', 'dhanush', 'vhinu']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [88]:
dance = ("jazz","tap")
print(dance)
type(dance)
 # Check the type of the 'parents' variable

('jazz', 'tap')

tuple

In [83]:
tuplelist = list(dance)
print(tuplelist)
type(tuplelist)
 # Output the list
 # Check the type of 'tuplelist'

['jazz', 'tap']

list

In [86]:
tuplelist.append("ballet")
tuplelist.append("hip hop")
tuplelist.append("salsa")
print(tuplelist) 
# Add new line to the list 'tuplelist'
 # Output the updated list

['jazz', 'tap', 'ballet', 'ballet', 'hip hop', 'salsa']

In [87]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple
new_tuple = tuple(tuplelist)
print(new_tuple)

('jazz', 'tap', 'ballet', 'ballet', 'hip hop', 'salsa')

In [89]:
 # Get the length of the list 'tuplelist'
 # Output of the length
length_of_tuplelist = len(tuplelist)
print(length_of_tuplelist)

6

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [90]:
x = {"dog","cat","hamster"}
print(x)
 # Output of the set

{'dog', 'cat', 'hamster'}

In [91]:
 # Add an element to the set
 # Output of the updated set
x.add("rabbit")
print(x)

{'dog', 'cat', 'hamster', 'rabbit'}

In [92]:
 # Remove an element from the set
 # Output of the updated set
x.remove("hamster")
print(x)

{'dog', 'cat', 'rabbit'}

In [93]:
z = {(469021),8,3, "hello",3.14,True}
print(z)
 # Output of the set

{True, 3.14, 3, 8, 'hello', 469021}

In [103]:
r = [1,2,3,4,5,7,4]
print(r)
r_set = set(r)
print(r_set)
type_of_r = type(r_set)
print(type_of_r)
 # Output of the original list

 # Convert the list to a set (to remove duplicates)
 # Output of the converted set

 # Check the data type of r_set
 # Output of the converted set

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>